.generated-cv {
  max-width: 800px;
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: repeat(2, 200px) max-content;
  background-color: aliceblue;
}

.general-info-container,
.education-info-container,
.jobs-container {
  margin: 0px 50px;

  display: grid;
  grid-template-rows: 50px 1fr;
  grid-column: 1 / 3;
}

.general-info,
.education-info,
.jobs > * {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 200px 1fr;
}

.general-info-container {
  grid-row: 1 / 2;
}

.education-info-container {
  grid-row: 2 / 3;
}

.jobs-container {
  grid-row: 3 / 4;
}
